.flex.items-center.justify-center.pb-1
  .rounded.border.p-2.shadow.w-full
    .flex.w-full.items-center.justify-between.border-b.pb-2
      .flex.items-center.gap-2
        .h-10.w-10.rounded-full.bg-slate-400{:class => "bg-[url('https://i.pravatar.cc/32')]"}
        .font-semibold.text-slate-700
          = comment.user.username
      .flex.items-center.gap-2
        %button.rounded.border.bg-neutral-100.px-3.py-1.text-xs.font-semibold delete
        %button.rounded.border.bg-neutral-100.px-3.py-1.text-xs.font-semibold edit

        .text-xs.text-neutral-500 timestamp goes here
    .mt-2.mb-2
      .text-sm.text-neutral-600
        = comment.body
