-# single comment

.flex.items-center.justify-center.pb-1
  .rounded.border.p-2.shadow.w-full
    .flex.w-full.items-center.justify-between.border-b.pb-2
      .flex.items-center.gap-2
        .h-10.w-10
          - if comment.user.avatar.attached?
            = image_tag comment.user.avatar
          - else
            .h-10.w-10.rounded-full{:class => "bg-[url('https://i.pravatar.cc/32')]"}
        .font-semibold.text-slate-700
          = comment.user.username
      .flex.items-center.gap-2
        - if current_user && current_user == comment.user
          %button.rounded.border.bg-neutral-100.px-3.py-1.text-xs
            = link_to 'delete', comment_path(comment), data: { turbo_method: :delete, turbo_confirm: 'are you sure?' }
          %button.rounded.border.bg-neutral-100.px-3.py-1.text-xs edit
          .text-xs.text-neutral-500 timestamp goes here
    .mt-2.mb-2
      .text-sm
        = comment.body
