- if current_user
  = form_with model: [@commentable, comment] do |f|

    = f.rich_text_area :body, data: { controller: "mentions", mentions_target: "field" }
    = f.submit 'Post comment', class: 'btn-primary mt-2'
- else
  .p-2.mt-6.gap-4
    .text-2xl.font-serif Login first to post a comment
    .mt-4= link_to 'Login', new_user_session_path, class: 'btn-primary'