
%p.text-gray-700
  = simple_format notification.to_notification.comment
    
.flex.justify-between.mt-1.text-gray-500.text-sm.space-x-4
  %p
    Received on #{notification.created_at.to_date}
  %p
    Status: #{notification.read? ? "Read" : "Unread"}
  %p