:javascript
  var tabs = [...document.getElementsByClassName("house-plant-tabs")]
  
  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((sibling) => {
        sibling.classList.remove("bg-blue-700");
        sibling.classList.add("bg-emerald-300");
      });
      tab.classList.remove("bg-emerald-300");
      tab.classList.add("bg-blue-700");
    });
  });