<nav class="flex flex-col md:flex-row px-6 py-4 border-b shadow-sm max-w-screen-2xl mx-auto">
  <!-- Logo -->
  <div>
    <h2 class="mx-5 text-3xl font-bold">
      <%= link_to 'Home', root_path %>
    </h2>
  </div>
  <!-- /End Logo -->
  <div class="  md:mt-0">
    <ul class="flex flex-col md:flex-row md:space-x-5 w-full">
      <li>
        <%= link_to 'plants', plants_path, class: "font-semibold block cursor-pointer p-2 hover:text-blue-500" %>
      </li>
      <li>
        <%= link_to 'users', users_path, class: "font-semibold block cursor-pointer p-2 hover:text-blue-500" %>
      </li>
    </ul>
  </div>
</nav>
