-# people cards

.grid.gap-4.lg:grid-cols-2
  .grid.grid-cols-3.gap-2.grid-rows-5
    .row-span-5.border 1
    .col-span-2.border 2
    .col-span-2.row-span-2.border 3
    .border 4
    .border 5
  .grid.grid-cols-3.gap-2.grid-rows-5
    .row-span-5.border 1
    .col-span-2.border 2
    .col-span-2.row-span-2.border 3
    .border 4
    .border 5