= turbo_frame_tag 'house_plant_tabs' do
  %link{:href => "https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css", :rel => "stylesheet"}
  %script{:src => "https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"}
  :javascript
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  #swiper.swiper.mySwiper
    .swiper-wrapper
      - plants.each do |plant|
        .swiper-slide.relative.p-5.bg-gray-200.flex.flex-col.flex-shrink-0
          = link_to plant_img_index(plant),  plant, data: { turbo_frame: '_top' }, class:"object-cover object-center w-full"
          .flex.h-full.items-end.pb-2.justify-center
            %h3.text-xl.text-center.lg:text-2xl.font-semibold.leading-5.lg:leading-6.text-white
              = link_to plant.latin, plant
              
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination