%div{ "data-hovercard-target" => "card" }
  .text-center.text-sm
    %div Watering
    .font-serif.text-xl.mx-3.mt-2= @plant.watering
  .text-center.text-sm
    .p2 Ideal Lighting
    .font-serif.text-xl.mt-2= plant.ideallight
  .text-center.text-sm
    %div Climate
    .font-serif.text-xl.mt-2= plant.climate