
%div{ "data-hovercard-target" => "card" }
  .bg-gradient-to-b.from-blue-200.to-green-200.h-full.overflow-hidden 
    .text-center.text-sm.mt-12
      %div Watering
      .font-serif.text-lg.mx-5.mt-2= @plant.watering
    .text-center.text-sm.mt-6.mb-24
      .p2 Ideal Lighting
      .font-serif.text-lg.mt-2= @plant.ideallight
