@tailwind base;
@tailwind components;
@import "actiontext.css";

@layer components {
  .layout {
    @apply w-9/12 mx-auto py-4 md:py-6 mb-4 md:mb-20;
  }

  .navlink {
    @apply font-semibold block cursor-pointer p-2 hover:text-green-700;
  }

  .active {
    @apply p-2 font-semibold underline decoration-green-700 decoration-2;
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-200 rounded cursor-pointer;
  }
  .btn-primary:hover {
    @apply bg-blue-300;
  }

  .text-field {
    @apply block px-3 pt-2 mb-4 border-gray-300 rounded;
  }

  .pagination * {
    @apply px-2;
    @apply no-underline bg-white rounded-full;
  }

  .pagination a:hover {
    @apply bg-gray-200;
  }

  .current {
    @apply bg-green-700 rounded-full text-white;
  }

  /* flash notice */
  .notice {
    @apply border border-solid p-5 rounded items-center absolute top-0 h-16 w-fit top-2.5 right-2.5;
  }

  .footer {
    @apply top-full sticky;
  }

  .flip {
    perspective: 1000px;
    background-color: transparent;
  }

  .flip-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    transform-style: preserve-3d;
  }

  .flip:hover .flip-content {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-front {
    background-color: white;
    z-index: -1;
  }

  .card-back {
    transform: rotateY(180deg);
    z-index: 5;
  }
}

@tailwind utilities;
