.font-serif Here are my plants!

.grid.lg:grid-cols-5.md:grid-cols-4.sm:grid-cols-2.gap-4.mt-10
  - @user.plants.all.each do |plant|
    .grid.grid-rows-4.shadow-lg.border.rounded
      .row-span-3.flex.flex-1.items-center.justify-center.w-full.h-full
        = plant_img(plant)
      .flex.flex-1.justify-center.items-center
        .text-center.font-serif.text-xl.cursor-pointer.text-blue-400.hover:underline
          = link_to plant.name, plant_path(plant)
      .flex.flex-col.justify-center.text-center.items-center
        = plant.latin
